<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
  <link rel="alternate icon" href="{{ site.baseurl }}/favicon.ico">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yanwei JIN (靳颜蔚)
              </h1>
              <p>I am a second-year MS student in <strong>Biostatistics</strong> at the <a href="https://sph.umn.edu/prospective-students/degrees-programs/biostatistics/">University of Minnesota School of Public Health</a>, with a strong interest in <strong>E-health and disease modeling</strong>. My research focuses on applying <strong>machine learning and statistical methods</strong> to health data, aiming to improve disease prediction and public health outcomes.
              </p>
              <p>
                I currently work as a <strong>Research Assistant</strong> in two labs:
                <br>- <a href="https://med.umn.edu/bio/feng-xie"><strong>Dr. Feng Xie's Lab</strong></a> at <a href="https://med.umn.edu/surgery">UMN Department of Surgery</a> – Developing <strong>emergency sepsis prediction models</strong> using the MIMIC-IV-ED and UMN datasets, leveraging AutoScore method to enhance predictive accuracy.
                <br>- <a href="https://directory.sph.umn.edu/bio/sph-a-z/xiao-zang"><strong>Dr. Xiao Zang's Lab</strong></a> at <a href="https://www.sph.umn.edu/">UMN School of Public Health</a> – Conducting a <strong>descriptive study</strong> on drug overdose deaths in older Black populations using CDC data, applying statistical methods and data visualization techniques.
              </p>
              <p>
                Previously, I earned a <strong>Bachelor of Science in Nursing</strong> from <a href="https://english.pku.edu.cn/"><strong>Peking University</strong></a> in 2022. My research journey began in my third year, focusing on <strong>chronic disease management</strong> and the application of <strong>big data</strong> in healthcare. To deepen my technical expertise, I joined the <strong>AI research group</strong> at the <a href="https://www.hkcoche.org/">Hong Kong Centre for Cerebro-cardiovascular Health Engineering (COCHE)</a>, where I worked on <strong>cuff-less blood pressure estimation</strong> using machine learning models (LSTM, Transformer) under the supervision of <a href="https://www.ee.cuhk.edu.hk/en-gb/people/academic-staff/professors/prof-zhang-yuan-ting"><strong>Prof. Yuan-Ting Zhang</strong></a>.
              </p>
              <p>
                I am proficient in <strong>Python and R</strong>, with expertise in <strong>machine learning, deep learning, and statistical methods</strong>. My long-term goal is to <strong>pursue a PhD</strong> and further explore the intersection of <strong>AI, health data science, and disease modeling</strong> to drive meaningful improvements in public health.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%;vertical-align:middle">
              <div style="text-align:center">
                <img style="width:100%;max-width:100%;border-radius:50%;object-fit:cover;aspect-ratio:1/1;" alt="profile photo" src="images/profilejyw1.JPG">
                <p style="margin-top:20px;font-size:14px;">
                  <a href="mailto:yanweijin68@gmail.com">Email</a> &nbsp;/&nbsp;
                  <a href="/files/cv_jyw.pdf">CV</a> &nbsp;/&nbsp;
                  <a href="https://github.com/yanweijin">GitHub</a> &nbsp;/&nbsp;
                  <a href="https://scholar.google.com/citations?user=ewqFvmQAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                  <a href="https://www.linkedin.com/in/starryjin">LinkedIn</a> &nbsp;/&nbsp;
                  <a href="https://orcid.org/my-orcid?orcid=0009-0007-9394-8333">ORCID</a>
                </p>
              </div>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p>
                My research focuses on E-health, disease modeling, and the application of machine learning and statistical methods to improve healthcare outcomes.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Modified version of template from <a style="font-size:small;" href="https://leonidk.com/">here</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>

